In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from ethos.tokenize.constants import DataProp
from ethos.tokenize.mimic.preprocessors import DeathData

data_prop = DataProp.create("mimic", "test")

p = DeathData(data_prop)
p.df

   subject_id         dod
0    10014729         NaT
1    10014078         NaT
2    10039997         NaT
3    10018328         NaT
4    10035631  146.190281
5    10024043  147.479808
6    10011398         NaT
7    10014354         NaT
8    10004235         NaT
9    10018845  214.888433

In [3]:
df = p.process()
df

   subject_id         dod   token
5    10024043  147.482544  _DEATH
9    10018845  214.891169  _DEATH

In [4]:
p.get_timelines()

{10018845: (array([214.89116853]), array(['_DEATH'], dtype=object)),
 10024043: (array([147.4825443]), array(['_DEATH'], dtype=object))}